@* para iniciar el programa necistas escribir /Product y te visualiza que esta creado *@

@model IEnumerable<Product>

<div class="container">
    <h2 class="my-4">Products List</h2>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>
                        <a href="@Url.Action("Details", new { id = product.Id })" class="btn btn-info">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" href="@Url.Action("Create")">Add New Product</a>
</div>
